*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Roboto",sans-serif;
    background-color: #FFFCF3;
}

#Container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#heroSection{
    display: flex;
    flex-direction: column;
    background-image:  url(./heroPage.png);
    background-size: cover;
    height: 100vh;
    justify-content: center;
}

#navBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:14px;
    max-height: 7vh;
    flex-shrink: 0;
}

#logoSec img{
    width: 165px;
    height: 45px;
}

#menuSec{
    font-family: "Inter",sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    color: white;
    font-weight: 300;
}

#menuSec p{
    cursor: pointer;
}

.show{
    display: block;
}

.hide{
    display: none;
    font-size: 24px;
    margin: 8px;
}

#centerSec{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

#centerDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 18px;
}

#centerSec img{
    width: 520px;
}

.btn{
    background-color: #F96F0C;
    border-radius: 4px;
    color: white;
    font-family: "Inter",sans-serif;
    font-weight: 500;
    padding: 12px;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.53);
    cursor: pointer;
}

@media screen and (min-width:320px) and (max-width:768px) {
    #centerSec img{
        width: 320px;
    }

    #logoSec{
        display: none;
    }

    .show{
        display: none;
    }
    
    .hide{
        display: block;
    }

    #navBar{
        justify-content: flex-end;
    }
}